@model IEnumerable<SocialNetwork.Models.User>

@{
    ViewData["Title"] = "User List";
}

<h1>User List</h1>

<p>
    <a asp-action="Create">Create New User</a><br />
    <form asp-action="Init">
        <input type="submit" value="Init Data" class="btn btn-primary" />
    </form><br />
    <form asp-action="Clear">
        <input type="submit" value="Clear Data" class="btn btn-danger" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDateTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDateTime)
                </td>
                <td>
                    <a form asp-action="Delete" asp-route-login="@item.Login">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
