@model SocialNetwork.Models.User

@{
    ViewData["Title"] = "Friend List";
}

<h1>Friend List</h1>

<p>
    <a asp-action="List">Get Friend List in JSON</a><br />
</p>
<form asp-action="Export">
    <input type="submit" value="Export Friends" class="btn btn-primary" />
</form>
<form asp-action="Import" enctype="multipart/form-data">
    <input type="submit" value="Import Friends" class="btn btn-primary" />
    <input type="file" name="file" value="Import From" />
</form>
<form asp-action="Add">
    <input type="text" name="login" placeholder="User login..." />
    <input type="submit" value="Add to Friends" class="btn btn-primary" />
</form>
<form asp-action="Delete">
    <input type="text" name="login" placeholder="User login..." />
    <input type="submit" value="Delete from Friends" class="btn btn-danger" />
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDateTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Friends)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Friend.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Friend.CreationDateTime)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-login="@item.Friend.Login">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
